<!--
Template de la popin de confirmation lorsqu'on quitte la popin
de création de demande de validation documentaire.
-->
<div class="row">
    <div class="col-sm-12">
        <br/>
        <p> Etes vous certain de vouloir abandonner la cr&eacute;ation de la demande ? </p>
    </div>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)">No</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(1)">Yes</button>
</div>